.md-container {
	padding: 8px;
	h1, h2, h3 {
		font-family: @headline-type;
		display: inline-block;
		padding-bottom: 12px;
		margin-bottom: 8px;
		border-bottom: 2px solid @primary;
		border-image-slice: 1;
		text-transform: uppercase;
		letter-spacing: 6px;
		font-weight: 500;
		white-space: nowrap;
		overflow: hidden;
	    text-overflow: ellipsis;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
	}
	p {
		padding: 8px;
	}
	li {
		min-height: 24px;
	}
	a[href] {
		color: @primary;
		text-decoration: underline;
		&:active {
			color: @primary-variant;
		}
	}
	p {
		opacity: 1;
	}
	hr {
	    width: calc(100% + 16px)!important;
	    margin: 12px 0!important;
		margin-left: -8px!important;
		border-color: @border-variant;
	}
	img {
		max-width: 400px;
	}
	ul {
		margin: 0;
		li {
			margin: 4px 0;
			code {
				padding: 2px 6px;
			}
		}
	}
	code {
		font-size: 12px;
	}

	table {
		border: 1px solid @border-variant;
		width: calc(100% - 1rem);
		margin: 0 8px;
		thead tr {
		    height: 36px;
		    box-shadow: 0 1px 0 0 @border-variant;
			th {
			    opacity: .87;
			    padding: 0 1rem;
			    text-align: left;
			}
		}
		tbody {
			tr {
				height: 48px;
				&:not(:last-child) {
		    		box-shadow: 0 1px 0 0 fade(@border-variant, 74%);
				}
			}
			tr td {
				padding: 1rem;
				text-align: left;
			}
		}
	}

	u {
		background: #50f00050;
	}

}

code {
	font-family: Roboto Mono;
	font-size: 12px;
	font-weight: 500;
	color: @on-surface;
	background: darken(@surface, 2%);
	border-radius: 4px;
	padding: 2px 6px;
	user-select: all;
	display: inline-block;
}

.card .md-container {
	margin-bottom: 16px;
}

u code {
	background: fade(@surface, 40%);
}
