@import "~photoncss/src/less/photon";
@import "~photoncss/src/less/themes/discord";
@import "components/Markdown";
@primary: #26c6da;

#root {
    display: flex;
    flex-direction: column;
	min-height: calc(100vh - 48px);
	@media @sm {
		min-height: calc(100vh - 16px);
	}
	main {
		flex-grow: 1;
	}
}

.title h2 {
	display: inline-block;
	padding: 12px 0;
	margin: 0;
	margin-bottom: 16px;
	border-bottom: 2px solid @primary;
	border-image-slice: 1;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 20px;
	font-weight: 500;
	@media @sm {
		font-size: 18px;
		letter-spacing: 5.66px;
		white-space: nowrap;
	}
}

footer.legacy.dark {
	margin-top: -12px!important;
	background-color: darken(@background, 2%)!important;
}

.dialog p {
	margin: 0;
}

.container {
	max-width: 1600px;
}

.full-frame {
	margin: -8px;
	width: 100vw;
	@media @md {
		margin: -24px;
	}
}

.list-item .subtitle {
	margin-left: 3rem;
}

.fullscreen {
	position: fixed!important;
	top: 24px;
	left: 24px;
	right: 24px;
	bottom: 24px;
	@media @sm {
		top: 12px;
		left: 12px;
		right: 12px;
		bottom: 12px;
	}
	z-index: 20000;
	iframe {
		height: 100vh!important;
	}
}

.card-title {
	font-family: @headline-type;
}

.alt-text {
	position: absolute;
	right: 16px;
	top: 0;
	line-height: 48px;
	font-size: 14px;
	font-family: roboto condensed;
}

.list-item {
	.alt-text ~ .mc, .alt-text {
		@media @sm {
			font-size: 10px;
		}
	}
}

.right-col-wrapper {
	padding-left: 1rem;
	@media @sm {
		padding: 0;
	}
}

.package-list {
	margin-left: -1rem;
    max-width: calc(100% + 18px);
	.package {
		&.baught {
			pointer-events: none;
			opacity: 0.54;
			filter: grayscale(1);
		}
	}
	@media @sm {
		margin-left: 0;
	}
}

.snackbar .label {
	color: #fffc!important;
}

.light-bg {
	background: lighten(@background, 5%);
}

.mc {
	font-family: @headline-type!important;
}
